body {
	background:rgb(32, 45, 160);
}

header {
	padding:2em;
}

main {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	gap:2em;
}

main>div {
	border:1px solid #ffffff;
	padding:2em;
	border-radius:5px;
	color:white;
}

div.alex {
	background-color:rgb(0, 110, 110);
}

div.mike {
	background-color:rgb(112, 110, 0);
}

nav a { 
	color:white; 
}

nav a:hover { 
	color:rgb(1, 245, 253); 
}

#drum-wrapper {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to right, #222, #555);
	color: #fff;
}

#drum-kit {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.key {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.key.active {
  transform: scale(1.1);
  border-color: #ffc600;
}

.key:active, .key:focus {
  outline: none;
  transform: scale(0.95);
}